svg .axis path,
svg .axis line {
	fill: none;
	stroke: black;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}

svg .node {
	transition-property: opacity;
	transition-duration: 0.8s;
	opacity: 1;
}

svg .element {
	transition-property: opacity;
	transition-duration: 0.8s;
	opacity: 1;
}

svg .disabled {
	transition-property: opacity;
	transition-duration: 0.8s;
	opacity: 0;
	pointer-events:none;
}

svg .olddata {
	transition-property: opacity;
	transition-duration: 0.8s;
	opacity: 0.05;
}
.current {
	font-weight:bold;
}

.spectrum {
	transition-property: opacity;
	transition-duration: 0.8s;
	stroke: none;
	opacity: 0.8;
	pointer-events:none;
}
