{% extends "node_map.html" %}
{% block title %}Spectrum Map{% endblock %}
{% block nav %}
	<li><a href="{{url_for('index')}}">Home</a></li>
	<li><a href="{{url_for('node_map')}}">Node Map</a></li>
	<li><a href="{{url_for('spectrum_map')}}">Spectrum Map</a></li>
	<li class="active"><a href="{{url_for('evarilos_demo')}}">Demo</a></li>
{% endblock %}
{% block configscript %}
   {{super()}}
	var channel = 11;
{% endblock %}
{% block headertitle %}Evarilos demo{% endblock headertitle %}
{% block jslibs %}
	{{super()}}
	<script type="text/javascript" src={{url_for('static', filename="js/cbviz.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="js/evarilos.js")}}></script>
{% endblock %}
{% block jsstartup %}
	// Execute map
	$(document).ready(function() {
		{% for floor in floors %}
		drawBaseMap({{ floor }});
		plotColorAxis({{ floor }});
		{% endfor %}
		queue()
			.defer(d3.csv, "{{url_for('static', filename='data/twist_node_locations.csv')}}", parseNodeData)
			.defer(d3.csv, "{{url_for('static', filename='data/crew_node_locations.csv')}}", parseNodeData)
			.defer(d3.csv, "{{url_for('static', filename='data/evarilos_nodes.csv')}}", parseEvarilosNodeData)
			.defer(d3.csv, "{{url_for('static', filename='data/platforms.csv')}}", parsePlatformData)
			.awaitAll(function(err, results){
				platforms = results.pop();
				nodes = NodeDataUnique(results);
				{% for floor in floors %}
				plotAllNodes({{ floor }});
				{% endfor %}
				addLegend();
				togglePlatform('eyesIFXv2');
				<!-- togglePlatform('alixap'); -->
				<!-- togglePlatform('tplink'); -->
				<!-- togglePlatform('laptop'); -->
				<!-- togglePlatform('twistbot'); -->
				twistBotConnect();
				CBtmoteRssiConnect();
				addSpectrumCircles();
				setChannel(channel);
				toggleOldData();
				evarilosInit();
			});
	});
{% endblock %}
{% block menu%}
	<h4>Floor</h4>
	<div class="btn-group btn-group-sm btn-group-justified">
		<a class="btn btn-default{% if 2 in floors %} active{% endif %}" href="{{url_for('evarilos_demo', floor=2)}}">2nd</a>
		<a class="btn btn-default{% if 3 in floors %} active{% endif %}" href="{{url_for('evarilos_demo', floor=3)}}">3rd</a>
		<a class="btn btn-default{% if 4 in floors %} active{% endif %}" href="{{url_for('evarilos_demo', floor=3)}}">4th</a>
	</div>
	<h4>Platforms</h4>
	<div id="platformLegend" class="btn-group-vertical btn-group-sm" style="display:inline">
	</div>
	<h4>Options</h4>
	<div id="options" class="btn-group-vertical btn-group-sm" style="display:inline">
	</div>
	<h4>Select channel</h4>
	<div id="setChannel">
	</div>
{% endblock %}

{% block bodymain %}
	{{ super()}}
{% endblock %}
