{% extends "layout.html" %}
{% block title %}TKN Spectrum Map{% endblock %}
{% block nav %}
	<li  class="active"><a href="{{url_for('index')}}">Home</a></li>
	<li><a href="{{url_for('node_map')}}">Node Map</a></li>
	<li><a href="{{url_for('spectrum_map')}}">Spectrum Map</a></li>
{% endblock %}
{% block configscript %}{% endblock %}
{% block jsscripts %}{% endblock %}
{% block cssscripts %}{% endblock %}
{% block menu%}
	<h4>Node Map</h4>
	<ul class="nav nav-stacked">
		<li><a href="{{url_for('node_map')}}">All floors</a></li>
		<li><a href="{{url_for('node_map', floor=2)}}">2nd floor</a></li>
		<li><a href="{{url_for('node_map', floor=3)}}">3rd floor</a></li>
		<li><a href="{{url_for('node_map', floor=4)}}">4th floor</a></li>
	</ul>
	<h4>Spectrum Map</h4>
	<ul class="nav nav-stacked">
		<li><a href="{{url_for('spectrum_map')}}">All floors</a></li>
		<li><a href="{{url_for('spectrum_map', floor=2)}}">2nd floor</a></li>
		<li><a href="{{url_for('spectrum_map', floor=3)}}">3rd floor</a></li>
		<li><a href="{{url_for('spectrum_map', floor=4)}}">4th floor</a></li>
	</ul>
{% endblock %}

{% block bodymain%}
	<div class="jumbotron">
		<h2>TWIST Visualizations</h2>
		<p class="lead">This is an graphical user interface for the TWIST testbed nodes.</p>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Short reminder of the channel assignment in 2.4GHz</h3>
				</div>
				<div class="panel-body">
					<img src="{{url_for('static', filename='image/ISM_channels.svg')}}" alt="" class="img-responsive">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>EVARILOS Year 1 review</h3>
				</div>
				<div class="panel-body">
					If you are interested in seeing the visualization for localization solutions look:
					<ul class="nav nav-stacked">
						<li><a href="{{ url_for('evarilos_demo')}}">All floors</a></li>
						<li><a href="{{ url_for('evarilos_demo', floor=2)}}">2nd floor</a></li>
						<li><a href="{{ url_for('evarilos_demo', floor=3)}}">3rd floor</a></li>
						<li><a href="{{ url_for('evarilos_demo', floor=4)}}">4th floor</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3>Useful links</h3>
				</div>
				<div class="panel-body">
					<ul class="nav nav-stacked">
						<li><a href="https://gitlab.tubit.tu-berlin.de/twist-testbed/twist_visualization">This page on tubIT GitLab</a></li>
						<li><a href="https://www.twist.tu-berlin.de:8000/">TWIST web</a></li>
						<li><a href="https://github.com/mchwalisz/cbrokerage">CB on GitHub</a></li>
						<li><a href="http://www.crew-project.eu/">CREW</a></li>
						<li><a href="http://www.evarilos.eu/index.php">EVARILOS</a></li>
						<li><a href="http://www.tkn.tu-berlin.de/">TKN</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
