<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>TWIST: {% block title %}Tkn Wireless Indoor Sensor network Testbed{% endblock title %}</title>
		<script type="text/javascript">{% block configscript %}{% endblock configscript%}</script>
		{# Standard and layout libraries #}
		<script type="text/javascript" src={{url_for('static', filename="jslib/jquery.min.js")}}></script>
		<script type="text/javascript" src={{url_for('static', filename="jslib/bootstrap.min.js")}}></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{% block jslibs %}{% endblock %}
		<script type="text/javascript">{% block jsstartup %}{% endblock %}</script>
		{% block cssscripts %}{% endblock %}
		<link rel="stylesheet" href={{url_for('static', filename="css/bootstrap.min.css")}}>
		<script type="text/javascript">
		var static_url = {{ request.script_root|tojson|safe }};
		</script>
	</head>
	<body>
		<header  class="navbar navbar-default navbar-static-top" role="banner">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{ url_for('index')}}">
					{% block headertitle %}
						Tkn Wireless Indoor Sensor network Testbed
					{% endblock headertitle %}
					</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav pull-right">
					{% block nav%}
						<li class="active"><a href="#">Home</a></li>
						<!-- <li><a href="#">About</a></li> -->
						<!-- <li><a href="#">Contact</a></li> -->
					{% endblock nav%}
					</ul>
				</div>
			</div>
		</header>
		<div class="container">
		{% block body %}
			<div class="row-fluid">
				<div class="col-md-9">
					{% block bodymain%} {% endblock bodymain%}
				</div>
				<div class="col-md-3 hidden-print">
					<div class="well well-sm">
						{% block menu%} {% endblock menu%}
					</div>
				</div>
			</div>
		{% endblock body%}
		</div>
		<div class="footer">
			<p>© 2013-2015, Technische Universität Berlin, Mikolaj Chwalisz</p>
		</div>
	</body>
</html>
