{% extends "layout.html" %}
{% block title %}Node Map{% endblock %}
{% block nav %}
	<li><a href="{{url_for('index')}}">Home</a></li>
	<li class="active"><a href="{{ url_for('node_map')}}">Node Map</a></li>
	<li><a href="{{ url_for('spectrum_map')}}">Spectrum Map</a></li>
{% endblock %}
{% block configscript %}
	var nodes = [];
	var platforms = {};
{% endblock %}
{% block jslibs %}
	{# D3.js libraries #}
	<script type="text/javascript" src={{url_for('static', filename="jslib/d3.v3.min.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="jslib/d3.superformula.v0.min.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="jslib/d3.tip.v0.6.3.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="jslib/queue.v1.min.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="jslib/colorbrewer.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="js/twist_map.js")}}></script>
	{# ROSlib.js libraries #}
	<script type="text/javascript" src={{url_for('static', filename="jslib/eventemitter2.min.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="jslib/roslib.min.js")}}></script>
	<script type="text/javascript" src={{url_for('static', filename="js/robotviz.js")}}></script>
	{# FileSaver #}
	<script type="text/javascript" src={{url_for('static', filename="jslib/saveSvgAsPng.js")}}></script>

{% endblock %}
	{# Site init script #}
{% block jsstartup %}
	$(document).ready(function() {
		{% for floor in floors %}
		drawBaseMap({{ floor }});
		{% endfor %}
		queue()
			.defer(d3.csv, "{{url_for('static', filename='data/twist_node_locations.csv')}}", parseNodeData)
			.defer(d3.csv, "{{url_for('static', filename='data/crew_node_locations.csv')}}", parseNodeData)
			.defer(d3.csv, "{{url_for('static', filename='data/platforms.csv')}}", parsePlatformData)
			.awaitAll(function(err,results){
				platforms = results.pop();
				nodes = NodeDataUnique(results);
				{% for floor in floors %}
					plotAllNodes({{ floor }});
				{% endfor %}
				addLegend();
				<!-- togglePlatform('twistbot'); -->
				twistBotConnect();
			});
	});
{% endblock %}

{% block cssscripts %}
		<link rel="stylesheet" href={{url_for('static', filename="css/style-d3.css")}} />
{% endblock %}
{% block menu%}
	<h4>Floor</h4>
	<div class="btn-group btn-group-sm btn-group-justified">
		<a class="btn btn-default{% if 2 in floors %} active{% endif %}" href="{{url_for('node_map', floor=2)}}">2nd</a>
		<a class="btn btn-default{% if 3 in floors %} active{% endif %}" href="{{url_for('node_map', floor=3)}}">3rd</a>
		<a class="btn btn-default{% if 4 in floors %} active{% endif %}" href="{{url_for('node_map', floor=4)}}">4th</a>
	</div>
	<h4>Platforms</h4>
	<div id="platformLegend" class="btn-group-vertical btn-group-sm" style="display:inline">
	</div>
	<h4>Options</h4>
	<div id="options" class="btn-group-vertical btn-group-sm" style="display:inline">
	</div>
{% endblock menu %}

{% block bodymain %}
	{% for floor in floors %}
	<div class="row">
		<div id="floor{{ floor }}" class="panel panel-default">
			<div class="panel-heading"><h4>Floor {{ floor }}</h4></div>
			<div class="panel-body">
				<svg id="floor{{ floor }}" width="700" height="400"
					viewBox="0 0 700 400"
					perserveAspectRatio="xMinYMid">
				</svg>
			</div>
		</div>
	</div>
	{% endfor %}
{% endblock %}
